$def with (user,is_git_auth,project,main_lang)

$var user = user
$var is_git_auth=is_git_auth
$var project = project
$var main_lang = main_lang

<section class="row articleBox">
	<section class="col-md-7 documentation" id="documentation">
		<h2 class="articleTitle">Credits</h2>
		<section class="articleSubsection">
  <h3 class="articleSubtitle">Roles and Responsibilities</h3>
  <ul>
    <li>
      <strong>Sebastiano Giacomini</strong> (University of Bologna): application development, ontology engineering, data management.<br>
      <a href="mailto:sebastiano.giacomin2@unibo.it">sebastiano.giacomin2@unibo.it</a> —
      <a href="http://orcid.org/0009-0007-7813-0939" target="_blank">ORCID: 0009-0007-7813-0939</a>
    </li>
    <li>
      <strong>Giorgia Rubin</strong> (ILC CNR): content design, pilot analysis, metadata control.<br>
      <a href="mailto:giorgia.rubin@ilc.cnr.it">giorgia.rubin@ilc.cnr.it</a> —
      <a href="http://orcid.org/0009-0008-0584-7290" target="_blank">ORCID: 0009-0008-0584-7290</a>
    </li>
    <li>
      <strong>Chiara Martignano</strong> (Ca' Foscari University of Venice): content design, pilot analysis, data collection.<br>
      <a href="mailto:chiara.martignano@unive.it">chiara.martignano@unive.it</a> —
      <a href="http://orcid.org/0000-0002-8984-9574" target="_blank">ORCID: 0000-0002-8984-9574</a>
    </li>
  </ul>
</section>

<section class="articleSubsection">
  <h3 class="articleSubtitle">Scientific Committee</h3>
  <ul>
    <li>
      <strong>Alessia Bardi</strong> (ISTI CNR)<br>
      <a href="mailto:alessia.bardi@isti.cnr.it">alessia.bardi@isti.cnr.it</a> —
      <a href="http://orcid.org/0000-0002-1112-1292" target="_blank">ORCID: 0000-0002-1112-1292</a>
    </li>
    <li>
      <strong>Marina Buzzoni</strong> (Ca' Foscari University of Venice)<br>
      <a href="mailto:mbuzzoni@unive.it">mbuzzoni@unive.it</a> —
      <a href="http://orcid.org/0000-0002-9306-6599" target="_blank">ORCID: 0000-0002-9306-6599</a>
    </li>
    <li>
      <strong>Marilena Daquino</strong> (University of Bologna)<br>
      <a href="mailto:marilena.daquino2@unibo.it">marilena.daquino2@unibo.it</a> —
      <a href="http://orcid.org/0000-0002-1113-7550" target="_blank">ORCID: 0000-0002-1113-7550</a>
    </li>
    <li>
      <strong>Riccardo Del Gratta</strong> (ILC CNR)<br>
      <a href="mailto:riccardo.delgratta@ilc.cnr.it">riccardo.delgratta@ilc.cnr.it</a> —
      <a href="http://orcid.org/0000-0003-1867-8445" target="_blank">ORCID: 0000-0003-1867-8445</a>
    </li>
    <li>
      <strong>Angelo Mario Del Grosso</strong> (ILC CNR)<br>
      <a href="mailto:angelo.delgrosso@ilc.cnr.it">angelo.delgrosso@ilc.cnr.it</a> —
      <a href="http://orcid.org/0000-0002-4867-6304" target="_blank">ORCID: 0000-0002-4867-6304</a>
    </li>
    <li>
      <strong>Franz Fischer</strong> (Ca' Foscari University of Venice)<br>
      <a href="mailto:franz.fischer@unive.it">franz.fischer@unive.it</a> —
      <a href="http://orcid.org/0000-0002-2162-5531" target="_blank">ORCID: 0000-0002-2162-5531</a>
    </li>
    <li>
      <strong>Roberto Rosselli Del Turco</strong> (University of Turin)<br>
      <a href="mailto:roberto.rossellidelturco@unito.it">roberto.rossellidelturco@unito.it</a> —
      <a href="http://orcid.org/0000-0002-8945-9314" target="_blank">ORCID: 0000-0002-8945-9314</a>
    </li>
    <li>
      <strong>Francesca Tomasi</strong> (University of Bologna)<br>
      <a href="mailto:francesca.tomasi@unibo.it">francesca.tomasi@unibo.it</a> —
      <a href="http://orcid.org/0000-0002-6631-8607" target="_blank">ORCID: 0000-0002-6631-8607</a>
    </li>
  </ul>
</section>

		<section class="articleSubsection">
			<h3 class="articleSubtitle">Acknowledgments</h3>
			<p>
				The ATLAS project has been funded by the European Union – Next Generation EU, Mission 4 Component 1, CUP J53D23013000006.
			</p>
		</section>
	</section>

</section>
